body{
   max-width:  1170px;
   background-color:antiquewhite;
   margin: 0 auto;
}
.card-section{
    text-align: center;

}
.card-container{
    display: flex;
    gap: 10px;
    flex-wrap:wrap ;
}
.card{
    width: 300px;
    border: 2px solid sandybrown;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    box-shadow: 10px 10px 10px black ;

}
.card:hover{
    background-color: plum;

}
.card h3{
    font-size: 1.25em;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card button{
    background-color: lightpink;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 1.25em;
    cursor: pointer;
}
.card button:hover{
    background-color: lightgray;
}